@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:ital,wght@1,300&display=swap');


* {
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

$bg: rgb(16, 16, 16);

.header {
    height: 70px;
    background-color: $bg;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;


    > img {
        height: 100%;
    }
    >div{
        width: 100%;
        margin-left: 4vmax;
    }

    > a{
        margin: 1vmax;
    }

    >svg{
        color: white;
        font-size: 1.5rem;
        cursor: pointer;

    }
}

